body 
{
	padding-bottom: 20px;
    padding-top: 60px;
}

ul li div img
{
	width:300px;
	height: 200px;
}

li :hover {
    background-color: palegreen;
}

#topnote{
	text-align: center;
}

.slideshow {
	margin-left: 16%;
	width: 500px;
	height:300px;
   	overflow: hidden;
   	border: 1px solid black;
}

.slideshow ul {
   width: 400%;
   height: 200px;
   padding:0; margin:0;
   list-style: none;
}

.slideshow li {
	float:left;
}

.slideshow img {
	width: 500px;
	height: 300px;
}

.hero-unit p{
	text-align: center;
}

.hero-unit{
	padding-bottom: 50px;
	padding-top: 30px;
}

.aside {
	float:right;
}

hr { height: 30px; border-style: solid; border-color: black; border-width: 1px 0 0 0; border-radius: 20px; } hr:before { /* Not really supposed to work, but does */ display: block; content: ""; height: 30px; margin-top: -31px; border-style: solid; border-color: black; border-width: 0 0 1px 0; border-radius: 20px; }

footer{
	margin-top: 25px;
}